<header class="flex sticky top-0 w-full justify-between items-center border border-gray-100/[0.06] supports-backdrop-blur:bg-white/60 font-medium backdrop-blur duration-500 bg-transparent transition-colors">
    <div class="py-6 px-7">
        <img class="opacity-50 rounded-lg w-10 h-10" src="https://avatars.githubusercontent.com/u/20901880?v=4" alt="logo">
    </div>
    <nav class="py-6 px-7">
        <a class="mr-6 text-gray-400" href="#">About</a>
        <a class="mr-6 text-gray-500" href="#">Blog</a>
        <a class="mr-6 text-gray-500" href="#">Contact</a>
    </nav>
    <div class="p-6">
        <a class="bg-gray-50/50 px-3.5 py-2.5 rounded-lg hover:bg-gray-50/70 transition duration-500" href="#resume">Resumé</a>
    </div>
</header>