<header class="flex justify-between items-center font-medium bg-white shadow-md">
    <div class="py-6 px-7">
        <img class="rounded-lg w-10 h-10" src="https://avatars.githubusercontent.com/u/20901880?v=4" alt="logo">
    </div>
    <nav class="py-6 px-7">
        <a class="mr-6 text-black" href="#">About</a>
        <a class="mr-6 text-gray-500" href="#">Blog</a>
        <a class="mr-6 text-gray-500" href="#">Contact</a>
    </nav>
    <div class="p-6">
        <a class="bg-gray-50 px-3.5 py-2.5 rounded-lg hover:bg-gray-100 transition" href="#resume">Resumé</a>
    </div>
</header>