<section class="flex justify-evenly items-center">
    <div>
        <h1 class="text-4xl text-gray-900 font-bold leading-none">Hi, I'm Youssef Mrabet</h1>
        <p class="text-md mb-2 mt-1 text-gray-400 max-w-lg leading-relaxed">IoT Student Developer</p>
        <p class="text-lg mb-2 mt-1 text-gray-800 max-w-lg leading-relaxed">I'm a <b>student at the National School of Electronics and Telecommunications of Sfax</b> and I'm currently undergoing an end of studies <b>internship at SiFAST.</b></p>
    </div>
    <div>
        <img src="../../public/webdev.svg" alt="Web Developer Illustration" srcset="">
    </div>
</section>