<section class="flex p-8 rounded-md h-screen items-start">
    <div>
        <h1 id="fn" class="text-5xl tracking-wide text-gray-50 font-bold">I'm Youssef Mrabet</h1>
        <div class="mt-5">
            <p data-value="IoT student developer" id="iot" class="bg-zinc-800/25 inline border border-zinc-700/25 py-1.5 px-2 rounded-lg uppercase text-md mt-1 tracking-wider text-gray-200 font-light leading-relaxed">IoT student developer</p>
        </div>
        <p class="text-xl mt-5 w-6/12 text-gray-100 leading-loose">Student at ENET'COM, Sfax in Information Technologies, interested in Web Development, Internet of Things and Deep Learning.</p>
    </div>
</section>

    
