<section class="py-10 px-20 my-10 rounded-md h-screen">
    <div class="mt-10 mb-20">
        <h2 class="text-gray-50 text-4xl font-bold text-center">My Skills</h2>
    </div>
    <div class="flex items-center gap-5 justify-evenly">
        <div class="w-56 h-56 rounded-md border border-neutral-800 bg-zinc-800/20">

        </div>
        <div class="w-56 h-56 rounded-md border border-neutral-800 bg-zinc-800/20">

        </div>
        <div class="w-56 h-56 rounded-md border border-neutral-800 bg-zinc-800/20">

        </div>
    </div>
    
</section>